
@model JoinClass

@using Foodies.MyModel
@using Foodies.Models

@{
    ViewBag.Title = "HomePage";
}

<head>
    
    @Scripts.Render("~/bundles/jquery")


</head>
<br />

<div class="row">

    <div class="col-sm-offset-4 col-sm-4  col-md-offset-3 col-md-6  col-lg-offset-3 col-lg-6">

       
        @*@if (!User.Identity.IsAuthenticated)
        {
            <h3 class="text-center" style="color:red">Please Log in to see details about restaurent and platter</h3>
        }*@


        <form method="post">
            <div class="olSearch fr" style="margin-left:20%;">
                <input type="text" placeholder="Search Food" id="searchField" class="inputComn houseText form-control" />
                <div class="searchIcon">
                    <button type="button" id="searchBtn">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>


            </div>
        </form>

    </div>

    <div class="col-sm-4 col-md-3 col-mg-3">

    </div>
</div>

<br />

<div class="row">

    <div class="col-sm-offset-4 col-sm-4  col-md-offset-3 col-md-6  col-lg-offset-3 col-lg-6">
        @{
            var i = 0;
            var j = 0;
        }

        @foreach (var item in Model.platterdetails)
        {
            <div class="card" style="width: 100%; border:1px solid #808080; border-radius:2%; ">

                @{
                    var base64 = Convert.ToBase64String(item.platter_image);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                }
                <img src='@imgsrc' style="width:99%;height:35rem;margin:2px 3px 1px 2px;" class="img-responsive img-thumbnail mx-0" />


                <div class="card-body" style="max-width:98%;margin:2%;">


                    <h3 class="card-title text-center">  @Html.DisplayFor(modelItem => item.platter_name)</h3>

                   
                      


                    <h4 class="text-center">
                        @if (User.Identity.IsAuthenticated)
                        {



                            double result = 0.00;

                            if (item.rating_count != 0)
                            {
                                result = (double)item.rating_total / (double)item.rating_count;
                            }

                            <span class="" style=" color: gold">

                                @for (int ra = 1; ra <= result; ra++)
                                {
                                    <i class="fas fa-star"></i>
                                }

                                @{
                                    double ceilnum = Math.Ceiling(result);
                                    if (ceilnum - result != 0)
                                    {
                                        <i class="fas fa-star-half-alt"></i>
                                    }

                                }



                                @for (; ceilnum < 5; ceilnum++)
                                {
                                    <i class="far fa-star"></i>
                                }



                            </span> <br />
                            <small class="text-muted">Rating : @result</small>
                        }



                        @if ((Model.ratingdetails.Any(x => x.User_name == User.Identity.Name && x.Platter_id == item.platter_id)))
                        {
                            <br /><br />
                            <b class=" font-italic" style="font-size:medium;color:limegreen">Thank You For your Review !!</b>
                        }

                        else
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                <br /><br />
                                <button class="btn btn-success" type="button" id="btn" data-toggle="modal" data-target="#@item.platter_id">
                                    Leave Your Review
                                </button>
                            }
                            else
                            {
                                <br />
                                <button class="btn btn-danger" type="button" onclick="loginpage()">
                                    Please Log in to see details
                                </button>
                            }
                        }
                    </h4>
                    <br />
                    <p class="card-text"> <b>Platter Details:</b>  @Html.DisplayFor(modelItem => item.platter_description) </p>
                    




                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5>Price:  @Html.DisplayFor(modelItem => item.platter_price) </h5>

                        foreach (var rest in Model.restaurentdetails)
                        {
                            if (rest.Rest_id == item.Rest_id)
                            {
                                <h5>Restaurant Name:  @Html.DisplayFor(modelItem => rest.Rest_name) </h5>
                                <h5>Restaurant Location:  @Html.DisplayFor(modelItem => rest.Rest_location) </h5>
                                <h5>Restaurant Phone:  @Html.DisplayFor(modelItem => rest.Rest_phone) </h5>

                            }



                        }


                        if (Model.ratingdetails != null && Model.ratingdetails.Count > 0)
                        {

                            <input class="btn btn-primary" type="button" onclick="viewcmnt(comment@(j),this)" value="View Comments"/>
                            <hr style="margin-bottom:0" />
                            <div id="comment@(j)" class="hidden">

                                @{
                                    var flag = 1;
                                }
                                @foreach (var rate in Model.ratingdetails)
                                {

                                    if (rate.Rating_id > 0)
                                    {

                                        if (item.platter_id == rate.Platter_id)
                                        {
                                            int r = rate.Rate;
                                            

                                                <div style="background-color:honeydew">
                                                    <b style="color:steelblue">@rate.User_name</b><br />
                                                    <small class="text-muted">Posted on: @rate.Time</small><br />

                                                    <span class="" style=" color: gold">

                                                        @for (int ra = 1; ra <= r; ra++)
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }

                                                        @for (int ra = r + 1; ra <= 5; ra++)
                                                        {
                                                            <i class="far fa-star"></i>
                                                        }

                                                    </span>



                                                    <p>@rate.Comment</p>

                                                    @if (rate.User_name == User.Identity.Name)
                                                    {

                                                        @Html.ActionLink("Edit", "UpdateComment", "Home", new { id = rate.Rating_id }, htmlAttributes: new { @class = "" })

                                                        <span> | | </span>

                                                        @Html.ActionLink("Delete", "DeleteComment", "Home", new { id = rate.Rating_id }, htmlAttributes: new { @class = "" })
                                                        @*<input type="submit" value="Delete" style="color:blue;border:none" onclick="return confirm('Are you sure you want to delete this comment?');" />*@
                                                    }



                                                    <hr style="margin-bottom:0" />
                                                </div>
                                             flag = 0;
                                         }
                                    }
                                 }


                                 

                                    @if (flag == 1)
                                    {
                                        <h5>No Comments Found</h5>

                                    }
                            </div>
                        }


                        <!--Review modal-->
                        <div class="modal" id="@item.platter_id">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title text-center" style="color:steelblue;">Leave Your Review Here  <i class="far fa-hand-point-down"></i></h4>

                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    


                                        <form id="form@(i)" method="post">

                                          

                                            <input type="hidden" name="User_id" value="@Session["User_id"]" />
                                            <input type="hidden" name="User_name" value="@Session["User_name"]" />

                                            <input type="hidden" name="Platter_id" value="@item.platter_id" />
                                            <div class="form-group">
                                                <label>Write Your Comment</label>
                                                <span class="" style="float:right; color: gold">
                                                   
                                                    <i class="rating far fa-star" onclick="ratefunc(rateval@(i),1)"></i>
                                                    <i class="rating far fa-star" onclick="ratefunc(rateval@(i),2)"></i>
                                                    <i class="rating far fa-star" onclick="ratefunc(rateval@(i),3)"></i>
                                                    <i class="rating far fa-star" onclick="ratefunc(rateval@(i),4)"></i>
                                                    <i class="rating far fa-star" onclick="ratefunc(rateval@(i),5)"></i>
                                                </span>

                                                <input type="hidden" name="Rate" id="rateval@(i)" value="" />

                                                <textarea style="max-width:100% !important;height:34px;" class="form-control" name="Comment" placeholder="Write Your Comment Here(Optional)" rows="3" required></textarea>
                                            </div>
                                        </form>

                                        <button class="btn btn-primary" type="submit" onclick="reviewBtn(form@(i))">Submit</button>
                                    </div>



                                </div>
                            </div>
                        </div>

                    }




                </div>
            </div>

            <br />
            <br />

            i++;
            j++;

        }

    </div>

    <div class="col-sm-4 col-md-3 col-mg-3">

    </div>
</div>





<script type="text/javascript">


    $(".rating").click(function () {

      
        $(".rating").addClass("far").removeClass("fas");
              
        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".rating").addClass("fas").removeClass("far");


    });

    function ratefunc(idname, dataval) {
       
        $(idname).val(dataval);

        
    }

    function loginpage() {
        location.href = '@Url.Action("Login","Account")';
    }


    function viewcmnt(cmnt,btn) {
       
        if(btn.value == "View Comments") {
            btn.value = "Hide Comments";
        }
        else {
            btn.value = "View Comments"
        }
            $(cmnt).toggleClass('hidden');
       
    }

    //function update(userid) {
    //    debugger;
    //    window.location = "/Home/UpdateComment/" + userid
    //}

    $("#searchBtn").click(function () {

      
                var searchValue = $("#searchField").val();

                $.ajax({

                    url: '/Platter/HomePage',
                    data: {
                        search : searchValue
                    }

                })
                .done(function (response) {
                       // alert(response);
                        $('#SearchResult').html(response);
                    })

                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Fail');
                })
    });


   


    function reviewBtn (formid) {
        //debugger;
        var x = $(formid).serialize();
        console.log(x);
   
        
        $.ajax({

            url: '/Home/LeaveReview',
            type: "post",
            data: $(formid).serialize(),
            dataType: 'json'

        })
            .done(function (response) {
                debugger;
                if (response.Success) {
                    window.location.reload();
                }
                else {
                    alert("Error!");
                }
            })
            .fail(function (abc) {

                console.log(abc);
               
            })
    }



    window.addEventListener('unload', function (event) {
       
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    });




</script>

